@media (max-width: 300px) {
  body, html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  body, html {
    font-size: 13px;
  }
}

@media (min-width: 1440px) {
  body, html {
    font-size: 15px;
  }
}

@media (min-width: 2560px) {
  body, html {
    font-size: 20px;
  }
}

@media (min-width: 4000px) {
  body, html {
    font-size: 30px;
  }
}

@media (min-width: 6000px) {
  body, html {
    font-size: 35px;
  }
}

@media (min-width: 8000px) {
  body, html {
    font-size: 55px;
  }
}