/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

body, html {
  background: #eaeaea;
  color: #555;
  font-size: 13px;
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(83, 81, 81, 0.161);
  border-radius: 100rem;
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(83, 81, 81, 0.298);
}


::-webkit-scrollbar {
  width: .25rem;
}

#root {
  width: 100%;
}

.container {
  padding: 1rem;
  width: 100%;
}

.row {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  width: auto;
  flex-direction: column;
}

.bold {
  font-weight: bold !important;
}

button {
  color: #444;
  font-size: 4.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bbb;
  height: auto;
  box-shadow: 0 0 .6rem .05rem #999;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background: #afafaf;
  box-shadow: 0 0 .6rem .05rem #898989;
  transition: all .1s;
}


/* Calculator */

#result {
  font-size: 5rem;
  height: 40vh;
  background: #ccc;
  width: 100%;
  align-self: center;
  box-shadow: 0 0 .6rem .05rem #aaa;
  border-radius: 0.3rem;
  padding: 0 .3rem;
  color: #555 !important;
  resize: none;
}

#btns {
  width: 100%;
}

#btwn_btns {
  width: .8rem;
}

#calculator {
  width: 100%;
}

#clean {
  margin-top: 1rem;
  margin-right: auto;
}

#calc {
  margin-top: 1rem;
}


/* Instruction */

#instruction {
  font-size: 2.5rem;
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

h3 {
  margin-top: 1rem;
}