/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

body, html {
  background: #eaeaea;
  color: #555;
  font-size: 13px;
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(83, 81, 81, 0.161);
  border-radius: 100rem;
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(83, 81, 81, 0.298);
}


::-webkit-scrollbar {
  width: .25rem;
}

#root {
  width: 100%;
}

.container {
  padding: 1rem;
  width: 100%;
}

.row {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  width: auto;
  flex-direction: column;
}

.bold {
  font-weight: bold !important;
}

.up_case {
  text-transform: uppercase;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

button {
  color: #444;
  font-size: 2.7rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bbb;
  height: auto;
  /* box-shadow: 0 0 .6rem .05rem #999; */
  /* border-radius: 0.3rem; */
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background: #afafaf;
  /* box-shadow: 0 0 .6rem .05rem #898989; */
  transition: all .1s;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

li span:hover {
  text-decoration: underline;
}


/* Calculator */

#result {
  font-size: 3.75rem;
  height: 40vh;
  background: #ccc;
  width: 100%;
  align-self: center;
  /* box-shadow: 0 0 .6rem .05rem #aaa; */
  /* border-radius: 0.3rem; */
  padding: 0 .3rem;
  color: #555 !important;
  resize: none;
}

#btns {
  width: 100%;
}

#btwn_btns {
  width: 1rem;
}

#calculator {
  width: 100%;
}

#clean {
  margin-top: .5rem;
  margin-right: auto;
}

#calc {
  margin-top: .5rem;
}


/* Instruction */

#strict_mode {
  font-size: 1.2rem;
  margin-top: .5rem;
  align-items: center;
}

.strict_mode_input {
  margin-right: 0.5rem;
}

.strict_mode_input:hover, .strict_mode_label:hover {
  cursor: pointer;
}

#instruction {
  font-size: 1.85rem;
  width: 100%;
}

#math_exp, #hot_keys {
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: auto;
}

#math_exp:before, #hot_keys:before {
  content: '';
  width: .2rem;
  background-color: rgba(170, 170, 170, 0.6);
  margin-right: .5rem;
}

#math_exp:hover, #hot_keys:hover {
  background: rgba(0, 0, 0, 0.08);
  transition: all .1s;
  cursor: pointer;
}